@import "https://fonts.googleapis.com/css?family=Montserrat";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #ddd;
	padding: 20px;
}
.container {
	height: calc(100vh - 40px);
}
.item {
	color: #fff;
	background-color: #cccccc;
	padding: 50px;
	font-family: "Montserrat";
	font-size: calc(1vw + 1em);
	text-align: center;
}

.one {
	background-color: violet;
}
.two {
	background-color: yellowgreen;
}
.three {
	background-color: royalblue;
}
.four {
	background-color: rebeccapurple;
}
