.header {
	display: flex;
	flex-wrap: wrap;
}
.logo {
	flex-basis: 100%;
	margin-bottom: 30px;
}
.logo h1 {
	margin: 0;
	text-transform: uppercase;
	font-size: 40px;
}

.nav {
	flex-basis: 100%;
}

ul {
	list-style: none;
	display: flex;
}
ul li:not(:first-child, :last-child) {
	margin: 0 10px;
}

li > a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	padding: 10px 15px;
	display: block;
	border-radius: 4px;
}

li > a:hover {
	background-color: rgb(20, 170, 28);
	color: #fff;
}
@media (min-width: 768px) {
	.logo {
		flex-basis: 30%;
	}
	nav {
		flex-basis: 70%;
	}
	ul {
		justify-content: flex-end;
	}
}
