.container {
	display: flex;
	height: calc(100vh - 40px);
	flex-direction: column;
}
.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.header {
	background-color: tomato;
}
.main-content {
	flex-grow: 1;
}

@media (min-width: 768px) {
	.content {
		flex-direction: row;
	}
	.main-content {
		order: 2;
		flex-basis: 60%;
	}
	.left-sidebar {
		order: 1;
		flex-basis: 20%;
	}
	.right-sidebar {
		order: 3;
		flex-basis: 20%;
	}
}
